/bootstrap/
/lang/
/storage/
/vendor/
/.editorconfig
/.env
/.env.example
/.gitattributes
/.styleci.yml
/artisan
/composer.json
/composer.lock
/docker-compose.yml
/nombre
/package.json
/phpunit.xml
/README.md
/required
/webpack.mix.js
